/* The asterisk means every element on the page to clear out default margins
and padding browsers add on their own.
 */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* Change background color */
  background-color: #1a1a2e;
  color: white;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}

/* Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/************************** Main Menu Screen ****************************/

/* Designing the game title in main menu */
#main-menu h1 {
  font-size: 5em; /* em is relative to default font size, so 5 times normal size and bold for title */
  letter-spacing: 4px; /* spreads letters out a tad */
  color: #e94560; /* set header color to reddish pink */
}

/************************** Game Screen ****************************/


/* Becomes an anchor for game screen */
#game {
  position: relative;
}

/* Positioning timer */
#timer {
  position: absolute;
  top: 15px;
  left: 15px;
}

/* Positioning score */
#score {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Design for problems being shown */
#problem {
  background-color: #16213e;
  padding: 24px 24px;
  width: 280px;
  border: 3px solid #000000;
  text-align: center;
}

/* Design for answer buttons */
#answer-buttons {
  display: flex;
  flex-wrap: wrap; /* allows buttons to wrap (in this case two in a row) */
  height: 256px; /* change box height */
  width: 456px;
  gap: 16px;
}

/* Override overlay color for penalty */
#penalty {
  background-color: rgba(120, 30, 50, 0.70);
}

/* Design for the countdown when a penalty is activated */
#countdown {
  color: black;
  font-size: 15em;
  text-shadow: 0 -2px 0 white, 0 2px 0 white, -2px 0 0 white, 2px 0 0 white; /* Outline effect */
}

/************************** Result Screen ****************************/

/* Player's score final result display (gold/silver/bronze possible colors in .score) */
#player-score {
  color: white;
  font-size: 5em;
  text-shadow: 0 -2px 0 black, 0 2px 0 black, -2px 0 0 black, 2px 0 0 black;
}

/************************** Leaderboard Screen ****************************/

/* Overriding button information */
#back-to-main-menu-leaderboard {
  padding: 12px 20px;
  width:175px;
  font-size: 0.9em;
}

/************************** Achievement Screen ****************************/

/* Achievement card design */
.achievement-item {
  background-color: #16213e;
  padding: 12px 24px;
  border-left: 4px solid #e94560; /* left accent bar design */
  width: 280px; /* card width */
  font-size: 1.1em;
}

/* Different colors for each achievement */
.achievement-bronze { border-left-color: #cd7f32}
.achievement-red { border-left-color: #ff4444}


/************************** Shared Classes (Used across all "screens") ****************************/

/* a div with display: flex becomes a "flex container" which allows it
to rearrange its children with the two most important properties
(justify-content and align-items).
 */

/* Default screen layout */
.screen {
  display: flex;
  flex-direction: column; /* setting to column makes main axis become vertical */
  align-items: center; /* centers children horizontally */
  justify-content: center; /* centers children vertically */
  height: 100vh; /* makes div fill full screen height */
  gap: 16px; /* adds space between title and each button automatically */
}

/* Default head design/layout */
.header {
  font-size: 2em; /* em is relative to default font size, so 5 times normal size and bold for title */
  letter-spacing: 3px; /* spreads letters out a tad */
  color: #e94560; /* set header color to reddish pink */
  margin-bottom: 8px; /* Pushes everything below the leaderboard title by 8px */
}

/* Leaderboard list items (targets whole list as one unit) */
.leaderboard-list {
  list-style: none; /* removes default numbered bullets (using a different approach) */
  width: 300px; /* gives list a consistent width */
}

/* Leaderboard list items (targets each individual row inside list) */
.leaderboard-list li {
  padding: 10px 16px; /* spacing */
  border-bottom: 1px solid #333; /* subtle dividing line between each entry */
  font-size: 1.5em; /* makes text slightly bigger than defaults */
  text-align: center;
}

/* Default button design information */
.btn {
  background-color: #e94560;
  color: white;
  border: none; /* removes default borders */
  padding: 12px 40px; /* 12px top/bottom, 40px left/right (button size around the text) */
  font-size: 1.1em;
  width: 220px; /* makes buttons same width to look uniform */
  cursor: pointer; /* mouse turns into a hand when hovering button */
  transition: background-color 0.2s; /* animates over 0.2 seconds when background-color changes */
}

/* Darkens buttons slightly on hover */
.btn:hover {
  background-color: #7f2034;
  cursor: pointer;
}

/* Blur to make penalty and achievements the main focus */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(120, 120, 120, 0.70);
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-gold{
  color: gold;
}
.score-silver{
  color: silver;
}
.score-bronze{
  color: saddlebrown;
}
